@{
    ViewData["Title"] = "Home";
}
<head>
    <style>

        div.contenedor {
            position: relative;
            display: inline-block;
            text-align: center;
            
        }


        div.centrado {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .btnCotizar {
            background-color: #c23b22;
            border: none;
            color: white;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

    </style>
    
</head>


<div class="contenedor">

    
    <img src="~/images/fiesta2.jpg" class="img-responsive center-block" style="width:1200px;height:500px"  /> 
    <div class="centrado">
        <h1><font color="#c23b22"> Celebraciones Inolvidables</font></h1>
        <p><font color="goldenrod">¿Deseas tener los mejores Eventos?</font> <button class="btnCotizar" role="link" onclick="window.location='/Cotizaciones/Create'">Cotiza Aqui!</button>      </p>

    </div>
</div>






