@{
    ViewData["Title"] = "Home Page";
}
<head>
    <style>

        div.contenedor {
            position: relative;
            display: inline-block;
            text-align: center;
        }


        div.centrado {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
    
</head>


<div class="contenedor">
    
    <img src="~/images/fiesta1.jpg">
    <div class="centrado">
    <h1><font color="white">  Bienvenido    </font></h1>
    
    </div>
</div>






